* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.catgram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;

    
}

.catgram-phones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    
}

.catgram-phones img {
   height: 60rem;
    
}

.catgram-perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;

}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: 0.5rem;

}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;

}

.logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);

}

.link-blue {
    color: #0095f6;;
}


.gettheapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;

}

.download {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;

}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("img/apple.png");

}

.app-download:nth-child(2) {
    background-image: url("img/google.png");

}


@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .catgram-wrapper{
        width: 90%;
    }

    .catgram-phones{
        display: none;
    }

    .catgram-perfil{
        width: 100%;

    }

    .group{
        border: none;
    }
}